.Header{
    padding-top: 15px;
    z-index: 50;
    padding-bottom: 15px;
    width: 100%;
    max-height: 50px;
    text-align: center;
    background: #393e46;
    border-top: none;
    border-left: none;
    border-right: none;
    display: inline-block;

    background: var(--main-app-color);
}

h1 {
    font-size: 40px;
    float: left;
    padding: none;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    /* color: #FF7F23; */
    color: #f3c623;
    color: white;
    /* color: #606c88; */

}

.Logo{
    float: left;
    margin-left: 10%;
    width: 40px;
    margin-right: 10px;
}

.UserIconHeader{
    width: 50px;
    height: 50px;

    background: white;
    border-radius: 50%;
    background-size: 100%;
    float: right;
    margin-right: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.HeaderProfilePicLetters {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: none;
    margin-bottom: none;
    padding-top: none;
    padding-bottom: none;
    font-size: 22px;
    /* font-style: bold; */
    font-weight: bold;
}

.UserNameHeader {
    float: right;
    color: var(--main-background-color);
    font-size: 16px;
    margin-right: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.UserIconHeader:hover {
    width: 55px;
    height: 55px
}

.User{
    /* float: right;
    margin-right: 20%; */
    /* clip-path: circle(35px at 50% 50%); */
    border-radius: 50px;
    border: 4px solid #393e46;
    width: 70px;
    height: 70px;
}




.MealContainer{
    display: block;
    margin: auto;
    align-items: center;
    border-style: solid;
    border-width: 0px;
    width: 90%;
    max-width: 1000px;
    margin-bottom: 30px;
    background: var(--main-background-color);
    /* background: #F2F2F2; */
    padding-top: 5px;
    /* background: red; */
    /* padding-top: 15px; */
}



@media only screen and (max-device-width: 450px){
    h1 {
        font-size: 0;
    }

    .ExitButtonContainer {
        /* background: green; */
        width: 60px;
        height: 60px;
        transform: translate(0px, 0px);
        top: 50%;
        left: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}