.Milestone {
    width: 100%;
    /* height: 50px; */
    /* margin-bottom: 50px; */
    /* background: red; */

    display: inline-block;
}

.MileStoneMainInfoContainer {
    /* width: 200px; */
    height: 100%;
    /* background: purple; */
    /* background: var(--main-app-color); */
    margin: auto;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
}
.MilestoneWeight {
    width: 60px;

    background: var(--main-app-color);
    font-size: var(--small-font-size);
    color: var(--main-background-color);
    border-radius: 20px;
    margin-right: 15px;
    margin-left: 15px;
    padding-left: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.MilestoneDate {
    font-size: var(--small-font-size);
    color: var(--gray-color);
    width: 60px;
    margin-right: 15px;
    margin-left: 15px;
    padding-left: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.IndicatorContainer {
    /* background: green; */
    width: 60px;
    margin-right: 15px;
    margin-left: 15px;
    padding-left: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.IndicatorUp, .IndicatorDown {
    background-size: 100%;
    height: 18px;
    width: 18px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../assets/ui/up.svg);
}

.IndicatorDown {
    background-image: url(../assets/ui/down.svg);
}
.MileStonePicContainer {
    width: 100%;
    height: 90px;
    /* background: yellow; */


    display: flex;
    justify-content: center;
    align-items: center;


}

.MileStonePic {
    height: 100%;
    width: 90px;
    border-radius: 50%;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* border: 10px solid var(--main-app-color); */
}

.LineContainer {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    height: 24px;
    /* background: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}



.Line {
    background-image: url(../assets/ui/line.svg);
    background-size: 100%;
    background-position: center center;
    height: 100%;
    width: 20px;
    opacity: .5;
}

.AddMilestoneContainer {
    margin:auto;
    /* background: yellow; */
    height: 150px;
    width: 200px;
    margin-bottom: 30px;
    display: inline-block;
}
.MilestoneAdditionExpand {
    width: 100%;
    height: 100px;
    /* background: purple; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.EditMilestoneWeightInput {

    font-size: var(--medium-font-size);
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 1px solid var(--main-light-border);
    border-left: none;
    border-right: none;
    border-top: none;
    width: 60px;
    direction: rtl;
    margin-right: 10px;

}

.MilestoneWeightText {
    color: var(--gray-color);
    font-size: var(--medium-font-size);
}

.EditMilestoneWeightContainer {
    /* background: red; */
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    /* background: purple; */
    
}
.MilestonePictureInputContainer, .MilestoneConfirmationContainer {
    margin-bottom: 15px;
    width: 100%;
    /* background: red; */
}

.MilestoneInspectionPic{
    height: 100%;
    width: 100%;
    border-radius: 0px;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.ExternalScreenPicture{
    width: 100%;
    height:70%;
    height: 600px;
    /* background: var(--dark-transparent-color); */

    /* background: var(--light-background-color); */
}

.MilestoneExpansionTop {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: var(--dark-transparent-color); */

    /* height: 15%; */
    /* background: purple; */
}

.MilestoneExpansionBottom {
    height: 90px;

    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 15%; */
    width: 100%;
    /* background: var(--dark-transparent-color); */

    /* background: purple; */


}

.MilestoneAddScreenTitle {
    font-size: var(--large-font-size);
    color: var(--gray-color);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.MilestoneAddScreenMiddle {
    width: 100%;
    background: white;
    /* background: red; */
    border-radius: 20px;
    height: 160px;
    

}
@media only screen and (max-device-height: 900px) and (max-device-width: 600px){

    .ExternalScreenPicture {
        background: var(--main-app-color);

        height: 80%;
    }
    .MilestoneExpansionTop {
        background: black;
        background: var(--main-app-color);



        height: 10%;
        /* background: purple; */
    }

    .MilestoneExpansionBottom {
        background: black;
        background: var(--main-app-color);


        height: 10%;
        /* background: purple; */
    }

}