
.SearchBar {
    /* background: purple; */
    margin-left: 0;
    font-size: 17px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #E1E1E1;
    color: #414141;
    margin-right: 10px;
}

.SearchBarContainer {
    /* background: red; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}
.SearchIcon {
    width: 22px;
    height: 22px;
}
.SearchBar:focus {
    outline-width: 0;

}

.resultPagePicker {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 215px);
    /* bottom: 60px; */
}
