.App {
  background: #FEFEFE;
  margin: none;
  padding: none;
  width: 100%;
  height: 100%;
  background: white;
  margin: auto;
  text-align: center;
  display: block;
  align-items: center;
  justify-content: center;
  /* font-family: 'Open Sans', sans-serif; */
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Roboto', sans-serif;

}

html {
  margin: none;
  padding-bottom: -30px;
  margin-bottom: -30px;
  background: #FEFEFE;
}

.LightContainer {
  background: #FEFEFE;
}
.ContainerDark {
  background: #FEFEFE;
  filter: brightness(40%);
}


.Header{
  background: #FEFEFE;
  padding-top: 20px;
  z-index: 50;
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
  color: #35CFFF;
  background:#324A5E;
  background: #393e46;
}



h1 {
  font-size: 55px;
  padding: none;
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  /* color: #FF7F23; */
  color: #35CFFF;
  color: #f3c623;
  /* background: #393e46; */

}
.Logo{
  margin-left: 15px;
  width: 40px;
}

.Greeting {
  /* margin-top: 10px; */
  /* background: red; */
  color: #35CFFF;
  font-size: medium;
  background: #FEFEFE;

}

.Body {
  /* background: red; */
  background: #FEFEFE;
  width: 100%;
  /* background: purple; */
}


.DateContainer {
  background: #FEFEFE;
  /* background: red; */
  width: 80%;
  max-width: 700px;

  /* background: red; */
  padding-top: 20px;
  padding-bottom: 30px;
  margin-top: 50px;
  margin-bottom: 30px;
  display: inline-block;
  /* background: red; */
  color: #f3c623;
  font-size: 22px;
  /* background: red; */


}

.CurrentDate {

  margin: auto;
  min-width: 100px;

  /* background: #393e46; */
  /* background: #FF7F23; */
  font-size: large;
  color: #393e46;
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
  vertical-align: middle;
  /* background: #FF7F23; */

}

.ArrowButtonContainer {

  color: white;
  padding-top: 0px;
  display: inline-block;
  vertical-align: middle;
  max-width: 33px;
  max-height: 33px;


}



.ArrowButton {
  margin: auto;
  width: 33px;
  height: 33px;
  display: block;
  transition-duration: .15s;
}

.ArrowButton:hover {
  width: 38px;
  height: 38px;
}

.LeftTitle {
  color: #4E4E4E;
  border-left: 0px;
  border-width: 2px;
  border-right: 0px;
  border-top: 0px;

  font-size: large;
  margin: auto;
  text-align: left;
  margin-bottom: 30px;
  width: 90%;
}

.MealContainer{
  display: block;
  margin: auto;

  align-items: center;
  border-style: solid;
  border-width: 0px;
  width: 95%;
  max-width: 1000px;
  margin-bottom: 30px;
  padding-top: 15px;
}

.AddButton, .ExitButton{
  /* background: red; */
  width: 33px;
  height: 33px;
  margin: 15px;
  transition-duration: .25s;
}




.ExternalScreen {
  background: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background: #D6F5FF; */

  width: 80%;
  height: 80%;
  max-width: 450px;
  border-radius: 30px;

}

.SearchBar {
  /* background: purple; */
  margin-left: 0;
  margin-top: 10px;
  font-size: 18px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 2.25px solid #393e46;
  color: #414141;
  margin-bottom: 30px;

}

.SearchBar:focus {
  outline-width: 0;

}

.ItemContainer{
  margin: auto;
  background: red;
  width: 80%;
  display: block;
  text-align: left;
  background: lightgray;
}

.Item {
  background: #eeeeee;
  /* background: red; */
  /* border-radius: 20px; */
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  margin-bottom: 10px;
  padding-top: 5px;;
  /* margin-top: 10px; */
  width: 70%;
  height: 45px;

  text-align: left;
}

.Item:hover {
  filter: brightness(85%);
}

.ItemName {
  padding: none;
  margin-bottom: 0px;
  margin-top: 0px;
}

.ItemDescription {
  background: green;
}

.LeftItemDescription {
  margin-bottom: 0px;
  margin-top: 0px;
  float: left;

}

.RightItemDescription {
  margin-bottom: 0px;
  margin-top: 0px;
  /* background: purple; */
  float: right;
}

@keyframes example {
  from {background-color: red;}
  to {background-color: yellow;}
}

.AddButton:hover, .ExitButton:hover{
  transform: rotateZ(90deg);

}

.CurrentDate:Hover {
  filter: brightness(85%);
}




.Calendar {
  background:#fff url(./calendar.png) no-repeat ;
  background-size: 100%;
  width: 27px;
  height: 27px;
  display: block;
  margin: auto;
  margin-top: 30px;
  border: none;
  font-family: 'Roboto', sans-serif;

  /* background: red; */

}

.Calendar:focus {
  outline-width: 0;

}
input::-webkit-datetime-edit, input::-webkit-clear-button, input::-webkit-inner-spin-button {
  display: none;
}


[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  /* display: none; */
  opacity: 0;
}
