.App {
  background: #FEFEFE;
  margin: none;
  padding: none;
  width: 100%;
  height: 100%;
  background: white;
  margin: auto;
  text-align: center;
  display: block;
  align-items: center;
  justify-content: center;

}

html {
  margin: none;
  padding-bottom: -30px;
  margin-bottom: -30px;
  background: #FEFEFE;  
}

.LightContainer {
  background: #FEFEFE;
}
.ContainerDark {
  background: #FEFEFE;
  filter: brightness(70%);
}


.Header{
  background: #FEFEFE;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 50;
  /* background: red; */
  /* position: fixed; */

  width: 100%;
  /* background: red; */
  text-align: center;
  /* background: #35CFFF; */
  color: #35CFFF;
}

h1 {
  font-size: 60px;
  padding: none;
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
}

.Logo{
  margin-left: 15px;
  width: 40px;
}

.Greeting {
  /* margin-top: 10px; */
  /* background: red; */
  color: #35CFFF;
  font-size: medium;
  background: #FEFEFE;

}

.Body {
  /* background: red; */
  background: #FEFEFE;
  width: 100%;
  /* background: purple; */
}

.BodyDark {
  filter: brightness(0%);
  background: red;
}

.DateContainer {
  background: #FEFEFE;

  /* background: red; */
  padding-top: 20px;
  padding-bottom: 70px;
  display: inline-block;
  /* background: red; */
  color: #35CFFF;
  font-size: 20px;
  /* background: red; */


}

.CurrentDate {
  min-width: 50px;

  background: #35CFFF;
  font-size: medium;
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  display: inline-block;
  margin-right: 30px;
  
}

.ArrowButton {
  height: 15px;
  /* padding-left: 10px; */
  /* padding-right: 10px; */
  border-radius: 10px;
}

.MealTitle {
  /* float: left; */
  color: #4E4E4E;
  font-size: large;
  /* position: relative; */
  /* margin-left: 30px; */
  margin-bottom: 30px;
}

.MealContainer{
  display: block;
  margin: auto;

  align-items: center;
  background: #D6F5FF;
  /* background: #35CFFF; */
  width: 70%;
  max-width: 600px;
  /* width: 750px;
  max-width: 750px; */
  /* height: 150px; */
  /* margin-bottom: 50px; */
  border-radius: 30px;
  margin-bottom: 30px;

  padding-top: 15px;
}



.FoodItem {
  text-align: left;
  padding-left: 10px;
  margin: auto;

  /* display: block; */
  width: 80%;
  background: white;
  /* padding-top: 30px; */
  margin-top: 15px;
  margin-bottom: 15px;
}

.AddButton {
  /* background: red; */
  width: 30px;
  height: 30px;
  margin: 15px;
  transition-duration: .25s;
}


.ItemAdditionScreen {
  /* background: red; */
  /* background: gray; */
  background: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background: #D6F5FF; */

  width: 80%;
  height: 600px;
  max-width: 450px;
  border-radius: 30px;

}
@keyframes example {
  from {background-color: red;}
  to {background-color: yellow;}
}

.AddButton:hover {
  transform: rotateZ(45deg);
  width: 35px;
  height: 35px;

}

.CurrentDate:Hover {
  filter: brightness(85%);
}




.Calendar {
  /* background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ; */
  background:#fff url(./calendar.png) no-repeat ;
  background-size: 100%;
  margin-top: 15px;
  width: 25px;
  height: 25px;
  /* width: 500px; */
  /* height: 500px; */
  border: none;
}

input::-webkit-datetime-edit, input::-webkit-clear-button, input::-webkit-inner-spin-button {
  display: none;
}


[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  /* display: none; */
  opacity: 0;
}
