.App {
  background: green;
  margin: none;
  padding: none;
  width: 100%;
  height: 100%;
  background: white;
  margin: auto;
  text-align: center;
  display: block;
  align-items: center;
  justify-content: center;
}

.Header{
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 50;
  /* background: red; */
  /* position: fixed; */

  width: 100%;
  /* background: red; */
  text-align: center;
  /* background: #35CFFF; */
  color: #35CFFF;
}

h1 {
  font-size: 60px;
  padding: none;
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
}

.Logo{
  margin-left: 15px;
  width: 40px;
}

.Greeting {
  margin-top: 10px;
  color: #35CFFF;
  font-size: 20px;
}

.Body {
  width: 100%;
  /* background: purple; */
}

.DateContainer {
  /* background: red; */
  padding-top: 30px;
  padding-bottom: 70px;
  display: inline-block;
  /* background: red; */
  color: #35CFFF;
  font-size: 20px;
  /* background: red; */


}

.CurrentDate {
  min-width: 110px;

  background: #35CFFF;
  font-size: 18px;
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  display: inline-block;
  margin-right: 30px;
  
}

.ArrowButton {
  width: 20px;
  height: 20px;
  /* padding-left: 10px; */
  /* padding-right: 10px; */
  border-radius: 10px;
}

.MealTitle {
  float: left;
  margin-bottom: 30px;
}

.MealContainer{
  display: inline-block;
  margin: auto;

  align-items: center;
  /* background: #35CFFF; */
  background: #D6F5FF;
  width: 60%;
  /* width: 750px;
  max-width: 750px; */
  /* height: 150px; */
  /* margin-bottom: 50px; */
  border-radius: 30px;
  margin-bottom: 30px;
}


.MealContainer:hover {
  filter: brightness(85%);
}

.FoodItem {
  margin: auto;

  /* display: block; */
  width: 80%;
  background: red;
  /* padding-top: 30px; */
  margin-top: 30px;
  margin-bottom: 30px;
}

.CurrentDate:Hover {
  filter: brightness(85%);
}




.Calendar {
  /* background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ; */
  background:#fff url(./calendar.png) no-repeat ;
  background-size: 100%;
  margin-top: 15px;
  width: 25px;
  height: 25px;
  /* width: 500px; */
  /* height: 500px; */
  border: none;
}

input::-webkit-datetime-edit, input::-webkit-clear-button, input::-webkit-inner-spin-button {
  display: none;
}


[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  /* display: none; */
  opacity: 0;
}
